# ROS 2 build outputs
/build/
/install/
/log/

# Unitree official repositories imported by vcstool
/src/unitree_ros2/
/src/unitree_sdk2/
/src/unitree_mujoco/
/src/unitree_rl_gym/
/src/unitree_rl_lab/

# Python/cache
__pycache__/
*.pyc

# VS Code
.vscode/